<div class="relative" [ngClass]="classes">
  <input
    [ngModel]="value"
    (ngModelChange)="onChange($event)"
    [id]="id"
    [name]="name"
    [type]="type"
    [required]="required"
    placeholder=" "
    class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
  />
  <label
    htmlFor="{{ id }}"
    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-800 px-2 peer-focus:px-2 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-placeholder-shown:pointer-events-auto peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 pointer-events-none cursor-text"
  >
    {{ label }}
    @if (required) {
      <span>*</span>
    }
  </label>
</div>
