<div class="grid grid-cols-2 gap-2 mt-2">
  <p
    class="txt-tiny flex items-center text-gray-900 dark:text-white"
    [class.text-green-500]="greaterThanOrEqualToMinLength"
  >
    @if (greaterThanOrEqualToMinLength) {
      <svg width="10" height="8" fill="none" stroke="#20A846" stroke-width="1.5">
        <path d="M1.25 4.75L3.82143 7L8.75 1" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    }
    <span class="pl-4">Minimum 8 characters</span>
  </p>

  <p class="txt-tiny flex items-center text-gray-900 dark:text-white" [class.text-green-500]="containsNumber">
    @if (containsNumber) {
      <svg width="10" height="8" fill="none" stroke="#20A846" stroke-width="1.5">
        <path d="M1.25 4.75L3.82143 7L8.75 1" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    }
    <span class="pl-4">1 number</span>
  </p>

  <p class="txt-tiny flex items-center text-gray-900 dark:text-white" [class.text-green-500]="containsSymbol">
    @if (containsSymbol) {
      <svg width="10" height="8" fill="none" stroke="#20A846" stroke-width="1.5">
        <path d="M1.25 4.75L3.82143 7L8.75 1" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    }
    <span class="pl-4">1 symbol</span>
  </p>

  <p class="txt-tiny flex items-center text-gray-900 dark:text-white" [class.text-green-500]="containsUpperCase">
    @if (containsUpperCase) {
      <svg width="10" height="8" fill="none" stroke="#20A846" stroke-width="1.5">
        <path d="M1.25 4.75L3.82143 7L8.75 1" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    }
    <span class="pl-4">1 uppercase letter</span>
  </p>

  <p class="txt-tiny flex items-center text-gray-900 dark:text-white" [class.text-green-500]="containsLowerCase">
    @if (containsLowerCase) {
      <svg width="10" height="8" fill="none" stroke="#20A846" stroke-width="1.5">
        <path d="M1.25 4.75L3.82143 7L8.75 1" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    }
    <span class="pl-4">1 lowercase letter</span>
  </p>
</div>
